<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006764537866-g5qchlhepv030tbfp816h9qkrijiv3d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006764537866-g5qchlhepv030tbfp816h9qkrijiv3d2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1006764537866-gkrc4l604f32ndh4ut241fo74q9lm6gl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMQJHRfmXNThcKC_UDinQF8aWuBpcr5yk</string>
	<key>GCM_SENDER_ID</key>
	<string>1006764537866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.lesdetritivores.tn09WorkingDemo</string>
	<key>PROJECT_ID</key>
	<string>tn09-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>tn09-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006764537866:ios:bd538c096901a2af8a47f3</string>
	<key>DATABASE_URL</key>
	<string>https://tn09-demo-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>